# **Class_01**
> ## *Print Function* & Mathematical Operators:

In [25]:
# Addition
print(2+5)

7

In [4]:
# Substraction
print(58-8)

50

In [6]:
#  Multiplicatin
print(2*6)

12

- **Division**:- 

if you want to result in float value then use to single /

In [7]:
print(54/4)

13.5

- **Division**:-
 
if you want to result in integer or whole Numbers or value then use to double //

In [14]:
print(54//4)

13

In [16]:
# Exponant or Power Values:
print(9**2)
print(9**3)

81
729

- ### **PEMDAS**

    Parenthesis Exponent Multiply Divide Addition and Substraction 
    
    Left to Right for M D & A S

In [18]:
# Result will be show in float value because using single /
print((3**2)/2*6+5-8)

24.0

In [24]:
# Result will be show in Integer or whole Number because using Double //
print((3**2)//2*6+5-8)

21

> ## Strings :

In [27]:
# With  Single quotes
print('Hello, Akif !')

Hello, Akif !

In [1]:
# With  Double quotes
print("We are learning with Baba ji")

We are learning with Baba ji

In [3]:
# with Tripple quotes
print('''I love data Science''')

I love data Science

In [5]:
# If you use apostrophe (')sign then you will use Double quotes
# agr ap string k byhr spaces use krty hain to koi impect nahi phry ga spaces  string k andar use se impect phry ga 
print("What's up")

What's up

> ## Comments :

  Shortcut key for comment out  ----> control+/

  
comment out ka mtlb jis ko hm comment out kr dein gy wo line of code run nahi ho gi

In [13]:
print("Pakistan World cup jeety ga ?")
# print(2023)

Pakistan World cup jeety ga ?

> ## Variables :
- Objects containing specific values

In [21]:
x = 50 #Here is X is a integer Variable 
x = x+10 
print(x)
y = " Data Science is a broad field" # Here is Y is a string Variable
print(y)

60
 Data Science is a broad field

In [30]:
a = 11/2
z = a+10
print(z)

15.5

- ### Types or Class of Variables

In [33]:
type(x)
print(type(x))
type(y)
print(type(y))

<class 'int'>
<class 'str'>

- #### Rules To Assign a variables:-

1: The variables should contain letters, numberes and underscores.

2: Do not start with numbers 

3: Spaces are not allowed

4: Do not use keyword used in function (break, mean, median and test etc.....) 
 
5: Short & Descriptive
 
6: Case senstivity (lowercase, Uppercase Letters : lowercase letters should be used)

In [42]:
fruit_basket = "Apple, Oranges, Banana" # Here is fruit_basket is a variable 
fruit_basket = 10
fruit_basket = "apple"
# del fruit_basket (del ka function use krny sy oper wala object delete ho jyga)
print(fruit_basket)
type(fruit_basket)
print(type(fruit_basket))

apple
<class 'str'>

> ## Input Variables or Function :

#### Simple input function

In [44]:
fruit_basket=input("what is your favourite fruit? ")
print(fruit_basket)

apple

In [52]:
color= "Your own choice "
print(color)
type(color)
print(type(color))

color=input("Which is your favourite color ?")
print(color)

Your own choice
<class 'str'>
dark black

#### Second input function

In [57]:
name= "what is your name?"
greetings = "Hi!"
print(greetings, name)

Hi! what is your name?

In [60]:
# try another way
name= "what is your name?"
print("Hello !",  name)

Hello ! what is your name?

#### Third input function

In [63]:
greetings= "Hello !"
name=input("What is your name?")
age= input("How old are you? ")
print(greetings, name, ",Your still young")

Hello ! Akif ,Your still young

> ## Conditional Logical Operators :

- Logical Operators are "True or False", "Yes or No", "0 or 1" 

Equal to -------------------- ==

 Not equal to ----------------!= 
 
 Less than ------------------- < 
 
 Greater than ----------------->
 
  Less than or equal to -------<=
  
   Greater than or equal to ---->=

   * How to apply conditional operators in python

In [73]:
print(4==4)
print(4!=4)
print(2<4)
print(5<=4)
print(5>4)
print(5>=10)

True
False
True
False
True
False

In [2]:
# Application of logical operators
ali_age = 4
age_at_school = 4
print(ali_age==age_at_school)

True

In [3]:
# Application of logical operators
ali_age = 4
age_at_school = 5
print(ali_age==age_at_school)

False

In [13]:
# input function and logical operators
age_at_school = 5
ali_age = input("How old is Ali? ") # input function 
print(type(ali_age))
print(ali_age==age_at_school) # logical operatr

<class 'str'>
False

> Note:- Oper waly code mein ali ki age input krty hain to  answer false e ata hai bcaz k ali_age ki class srting hai

In [15]:
age_at_school = 5
ali_age = input("How old is Ali? ") # input function 
ali_age= int(ali_age)
print(type(ali_age))
print(ali_age==age_at_school) # logical operatr

<class 'int'>
True

> Note:- Oper wala code mein ali_age ki class concvert ki hai int mein to ab jb ali_age(5) == age_at_school(5) krty hain to output true dyta hai pehly class string thi ab int hai

> ## Data Type Conversion :

In [12]:
# Implicit type conversion (implicit ka mtlb hota hai k androni tor pr / ya * ya + kr k changing krna )
x = 10 # integer
y = 12.44 # float
z = "Hello" # string
print(type(x))
x = x * y
print(x)

<class 'int'>
124.39999999999999

> Note:- that is mean k jb bhi kisi integer ko float value k 7 [*, +,-, /] krein to answer float value mein e aye ga

In [26]:
# explicit type conversion
age = input("What is your age?")
# age = int(age)        #first way
# print(age)
print(age, type(int(age))) # second way

7 <class 'int'>

 > ## If_else_elif :

In [61]:

# Question: Can Ali join the school?
ali_age= 4
age_at_school=5 
ali_age= input("How old is Ali? ")
ali_age= int (ali_age)
if ali_age==age_at_school:
    print("Ali can join the school")
elif ali_age > age_at_school:
    print("Ali should join the college")
elif ali_age == 2:
    print("Ali is still a baby, he should play with the Gulli Danda")
else:
    print("Ali can not join the school.")

Ali is still a baby, he should play with the Gulli Danda

 > ## Function :

 - Function ka mtlb hai jo bhi cheez ap aik maqsad k iye likhein wo ap ko as a output mein mil jaye.

In [63]:
# 1 method
def print_python():
    print("Pyhton course with Akif   ")
    print("Pyhton course with Akif   ")
    print("Pyhton course with Akif   ")
print_python()

Pyhton course with Akif
Pyhton course with Akif
Pyhton course with Akif

In [71]:
# 2 method
def print_python():
 text = " Pyhton With Data Science "
 print(text)
 print(text)
 print(text)
 print(text)
 print(text)

print_python()

 Pyhton With Data Science
 Pyhton With Data Science
 Pyhton With Data Science
 Pyhton With Data Science
 Pyhton With Data Science

In [70]:
# 3 method
def print_python (text):
    print(text)
    print(text)
    print(text)
    print(text)
    print(text)
    print(text)
    print(text)
    print(text)

print_python("We are going to USA")

We are going to USA
We are going to USA
We are going to USA
We are going to USA
We are going to USA
We are going to USA
We are going to USA
We are going to USA

- A School Calculator

In [126]:
def school_select_stu(age):
    age = input ("How old is Ali")
    age = int (age)
    if age ==5:
        print("Ali can join the school ")
    elif age > 5:
        print("Ali should join the higher secondary school ")
    else:
        print("Ali is still a baby and he should play with toys !")
school_select_stu(5)

Ali is still a baby and he should play with toys !

In [135]:
# Defining  a function of future age
def future_age(age):
    new_age= age+12
    return new_age
    print(new_age)
future_predicted_age = future_age(34)
print(future_predicted_age)

46

 > ## Loops :

- While Loop

In [1]:
x=0
while (x<=5):
    print(x) 
    x=x+1

0
1
2
3
4
5

- For loop

In [4]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [8]:
# For loop use in a program
# array(array is a data set)
days = ["mon", "tue", "wed", "thus", "fri", "sat", "sun"]
for d in days:
    print(d)
    # if (d=="fri"): break # Stop loop
    if (d == "fri"): continue # continue loop

mon
tue
wed
thus
fri
sat
sun

 > ## Import Libraries :

In [9]:
# If you want to print the value of pi
import math
print("The value of pi is: ", math.pi)

The value of pi is:  3.141592653589793

In [10]:
import statistics
x = [123, 145, 165, 185, 190, 205]
print(statistics.mean(x))

168.83333333333334

- Some important libraries:-  
numpy, pandas, etc....

 > ## Trouble Shooting :

 Errors and its types:-

In [11]:
#  Syntax error----> missing qutation or commas etc 
# print(we are learing python ) #wrong

print("we are learing python ") #correct

we are learing python with Aammar

In [12]:
# Runtime error ----> mathematical error
#example
# print(20/0) #wrong

print(20/2) #correct

10.0

In [20]:
# logical or smentic error it is very dificult error. Bsically ye hamari apni ghalti hoti hai
#example
name= "Akif"
# print("Hello name") #wrong
 #correct  agr hmein space chaiye to , ka use krty hain na chaiye ho to + ka let's see
print("Hello! ",name) # agr ap ko Hello or name k drmiyaan space nahi chaiye to + ka use krein comma ki jga

Hello!  Akif