# **Class_03**
> ## *Basic Data Structure in Python*
- #####  Tuple
- #####  List
- #####  Dictionaries
- #####  Set

- ### 1 Tuple
- ordered collection of elements
- enclosed in () round braces/paranthesis
- Different kind of elements can be stored
- once elements are stored you can not changed them (unmutatable)

In [6]:
tup = (1, "python", True, 2.56)
tup 
# type of a tuple
type(tup)

tuple

- #### indexing in tuple

In [10]:
tup[1]

'python'

In [11]:

# tup[0]
# tup[1]
# tup[2]
# tup[3]

# last element is exclusive
tup[0:4]

(1, 'python', True, 2.56)

In [12]:
# Count of elements in tuple
len(tup)

(1, 'python', True, 2.56)

In [13]:
tup1 = (2, "Akif", False, 10.12)
tup1

(2, 'Akif', False, 10.12)

> #### Note:- tuple ko jb hm Add ya kryn to scientific osy Concatinate (Yani Jma krna) kehty hain

In [14]:
tup + tup1

(1, 'python', True, 2.56, 2, 'Akif', False, 10.12)

In [27]:
# You can Add and repeat 
tup *2 + tup1*3

(1,
 'python',
 True,
 2.56,
 1,
 'python',
 True,
 2.56,
 2,
 'Akif',
 False,
 10.12,
 2,
 'Akif',
 False,
 10.12,
 2,
 'Akif',
 False,
 10.12)

In [23]:
tup2 = (3, 5, 8, 10, 12, 12.45)
tup2

(3, 5, 8, 10, 12, 12.45)

In [24]:
# minimum Value in a tuple
min(tup2)

3

In [25]:
# maximum value 
max(tup2)

12.45

In [28]:
tup2 * 2

(3, 5, 8, 10, 12, 12.45, 3, 5, 8, 10, 12, 12.45)

---
---

- ### 2 List

- ordered collection of elements 
- enclosed in [] square braces/brackets
- Mutateable you can change the values

In [4]:
lis =[1, "Data", True, 2.5]
lis

[1, 'Data', True, 2.5]

In [35]:
type(lis)

list

In [38]:
len(lis)

(1, 'Data', True, 2.5)

In [46]:
lis[1] # A specific value

'Data'

In [12]:
lis1 = [2, "global", "Akif", "Pak", 25.101]
lis1

[2, 'global', 'Akif', 'Pak', 25.101]

In [13]:
len (lis1)

5

In [20]:
lis + lis1 # concatinate

[1, 'Data', True, 2.5, 2, 'global', 'Akif', 'Pak', 25.101]

In [21]:
lis1 *3

[2,
 'global',
 'Akif',
 'Pak',
 25.101,
 2,
 'global',
 'Akif',
 'Pak',
 25.101,
 2,
 'global',
 'Akif',
 'Pak',
 25.101]

In [22]:
lis1.reverse() # reverse function
lis1

[25.101, 'Pak', 'Akif', 'global', 2]

In [23]:
lis1.append("Global_tech information") # jitni baar ap run kryn gy otni baar ye add hota jaye ga 
lis1

[25.101, 'Pak', 'Akif', 'global', 2, 'Global_tech information']

In [24]:
lis1.pop(2)

'Akif'

In [25]:
lis1.count("Pak")

1

Assignment : How can change the value in list and function of count kaise kaam krta hai

In [27]:
lis2 = [12,23,45,67,89,90,656,12,23,10,5,7,9]
lis2

[12, 23, 45, 67, 89, 90, 656, 12, 23, 10, 5, 7, 9]

In [30]:
lis2.count(12) # 12 two time aa raha hai

2

In [71]:
# sorting a list
lis2.sort()
lis2

[5, 7, 9, 10, 12, 12, 23, 23, 45, 67, 89, 90, 656]

In [76]:
lis2*2 # you can repeat a list

[5,
 7,
 9,
 10,
 12,
 12,
 23,
 23,
 45,
 67,
 89,
 90,
 656,
 5,
 7,
 9,
 10,
 12,
 12,
 23,
 23,
 45,
 67,
 89,
 90,
 656]

In [83]:
lis1 + lis2 # concatinate

[2,
 'global',
 'Akif',
 25.101,
 'Global_tech information',
 5,
 7,
 9,
 10,
 12,
 12,
 23,
 23,
 45,
 67,
 89,
 90,
 656]

In [84]:
lists = lis1+lis2
lists

[2,
 'global',
 'Akif',
 25.101,
 'Global_tech information',
 5,
 7,
 9,
 10,
 12,
 12,
 23,
 23,
 45,
 67,
 89,
 90,
 656]

---
---

- ### 3 Dicionaries
- An unordered collection of elements
- key and values 
- curly braces or bracket { }
- Mutateable/change the value

In [85]:
# food and their prices
food1 = {"samosa":30,"salad":50,"raita":20,"pakora":100,"chicken roles":60}
food1

{'samosa': 30, 'salad': 50, 'raita': 20, 'pakora': 100, 'chicken roles': 60}

In [86]:
type(food1)

dict

In [87]:
# extract data
keys1=food1.keys()
keys1

dict_keys(['samosa', 'salad', 'raita', 'pakora', 'chicken roles'])

In [88]:
values1=food1.values()
values1

dict_values([30, 50, 20, 100, 60])

In [89]:
# we can add new items 
food1["Tikki"]=10
food1

{'samosa': 30,
 'salad': 50,
 'raita': 20,
 'pakora': 100,
 'chicken roles': 60,
 'Tikki': 10}

In [90]:
# update values 
food1["samosa"]=40
food1

{'samosa': 40,
 'salad': 50,
 'raita': 20,
 'pakora': 100,
 'chicken roles': 60,
 'Tikki': 10}

In [91]:
food2={"Dates":50,"choclates":300,"Swayyan":1000}
food2

{'Dates': 50, 'choclates': 300, 'Swayyan': 1000}

In [92]:
# concatinate
food1.update(food2)

In [93]:
food1

{'samosa': 40,
 'salad': 50,
 'raita': 20,
 'pakora': 100,
 'chicken roles': 60,
 'Tikki': 10,
 'Dates': 50,
 'choclates': 300,
 'Swayyan': 1000}

---
---

- ### 3 Sets

- unordered and unindex
- curly braces are used { }
- No duplicates allowed

In [103]:
s1= {1,2.3,4.5,"Akif","yazman",True}
s1
# boolean operators can not be  used  in sets

{1, 2.3, 4.5, 'Akif', 'yazman'}

In [104]:
s1.add("Akif_129")  # duplicat run nahi ho ga 
s1

{1, 2.3, 4.5, 'Akif', 'Akif_129', 'yazman'}

In [105]:
s1.remove("Akif_129")
s1

{1, 2.3, 4.5, 'Akif', 'yazman'}